/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CORES PADRÃO */
:root {
    --verde-escuro: #0a3c0a;
    --verde-claro: #a9ecd2;
}

/* HEADER */
.topo {
    background-color: var(--verde-escuro);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.topo h1 {
    font-size: 32px;
    text-align: center;
    flex: 1;
}

.logo {
    width: 80px;
}

/* CONTEÚDO */

.linha-produtos {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.area-botao {
    text-align: center;
    margin-bottom: 40px;
}
.conteudo {
    background-color: var(--verde-claro);
    padding: 40px 20px;
}
.produto {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 250px;
}
.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}

.produto h3 {
    margin: 15px 0 10px;
    color: #333;
}

.produto p {
    font-size: 18px;
    color: var(--verde-escuro);
    font-weight: bold;
}

/* FOOTER */
.rodape {
    background-color: var(--verde-escuro);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.rodape p {
    margin: 5px 0;
    text-align: center;
    flex: 1;
}
.area-botao {
    width: 100%;
    color: var(--verde-escuro);
    text-align: center;
    margin-bottom: 10px;
}

.botao-verde {
    display: inline-block;
    background-color: var(--verde-escuro);
    color: white;
    padding: 30px 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.2s;
}
.botao-verde:hover {
    background-color: #145214;
    transform: scale(1.05);
}
body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
}

p {
    font-weight: 400;
    line-height: 1.6;
}
.creditos {
    background-color: #a9ecd2;
    color: #0a3c0a;
    font-size: 14px;
    padding: 10px 20px;
    text-align: right;
}
